@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .player-container {
    padding: 0px;
    gap: 20px;
    align-items: flex-start;
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    height: 250px;
    align-self: stretch;
    flex-grow: 0;
  }

  .player-container_back-button {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    height: 32px;
  }

  .player-container_widget-player {
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    height: 198px;
    margin-left: 0;
    align-self: stretch;
  }

  .player-container_sample {
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }

  .player-container_wrapper {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
    gap: 0px;
  }

  .player-container_volume-control {
    width: 191px;
  }

  .player-container_volume-track {
    width: 191px;
  }
}
